# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist/
out/
release/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# OS specific files
.DS_Store
Thumbs.db

# Electron-builder cache
.electron-builder/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 